Repository hmate06/PackMan, pull requests merged in 2023-03, with the labels that each got.

#7 jatek.html megvan
  jatek.html
Labels: HTML

#16 megvannak a pályák
  források/pacmanmap.png
  források/pacmanmap2.png
  források/pacmanmap3.png
Labels: Dokumentum

#21 kész
  index.html
  style.css
Labels: CSS
